<%- include("partials/loginHeader.ejs") %>
    <form action="/login" class="form-items login-form-items" method="post">
        <img src="images/app-icon.jpeg" alt="app icon" class="icon">
        <h1>Login</h1>
        <input type="text" name="username" id="" placeholder="Enter your Username">
        <input type="password" name="password" id="" placeholder="Enter your password">
        <input type="submit" value="Login" class="btn">

        <div class="google-auth">
            <a href="/auth/google"><i class="fab fa-google"></i>
                <p>Continue with Google</p>
            </a>
        </div>

        <pre>New User?  <a href="/signup">Signup</a></pre>
    </form>
    </div>
    <%- include("partials/footer.ejs") %>