<%- include("partials/loginHeader.ejs") %>
    <form action="/signin" class="form-items login-form-items signup-form-items" method="post">
        <img src="images/app-icon.jpeg" alt="app icon" class="icon">
        <h1>Sign In</h1>
        <input type="text" name="username" id="" placeholder="Enter your Username">
        <input type="password" name="password" id="" placeholder="Enter your password">
        <input type="password" name="" id="" placeholder="Confirm password">
        <input type="submit" value="Sign In" class="btn">

        <div class="google-auth">
            <a href="/auth/google"><i class="fab fa-google"></i>
                <p>Sign In with Google</p>
            </a>
        </div>

        <pre>Already Existing User?  <a href="/login">Login</a></pre>
    </form>

    </div>
    <%- include("partials/footer.ejs") %>